*{
	padding: 0;
	margin: 0;
}
body{
	background-color:#26224d;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: sans-serif;
}
.container{
	position: relative;
	margin-top: 100px;
	width: 450px;
	height: auto;
	background: #dedede;
	border-radius: 5px;
}
.containerEmail{
    margin-top:30px;
}
.title{
	padding: 20px 130px;
	font-size: 35px;
	font-weight: bold;
	color: #130f40;
}

.loginForm{
	padding: 20px 40px;
}
.loginForm .labelElement{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
}
.loginForm input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid silver;
}
.loginForm .labelElements{
	margin-top: 30px;
}
.registerForm{
	padding: 20px 40px;
}
.registerForm .labelElement{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
}
.registerForm input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid silver;
}
.registerForm .labelElements{
	margin-top: 30px;
}
.containerPassword{
    margin-top: 30px;
}
.btnSend{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 100%;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #1A237E;
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition: .5s;
}
.btnSend:hover{
	background: #151c6a;
}
#error{
    display:flex;
    justify-content:center;
    font-size:15px;
    margin-bottom: 30px; 
    width: 100%;
}
.linkLogin{
    display:flex;
    justify-content:center;
}





